.one
{
	display:flex;
	flex-direction:column;
	margin-top:10px;
	margin-bottom:10px;
}
.one .header
{
	display:flex;
	flex-direction:row;
	background-color:black;
	justify-content:space-between;
}
.one .header .header1
{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}
.one .header .header1 .b
{
	height:30px;
	width:80px;
	background-color:blue;
	margin:10px;
}
.one .header .header2
{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}
.one .header .header2 .b
{
	height:30px;
	width:80px;
	background-color:blue;
	margin:10px;
}
.one .split
{
	display:flex;
	flex-direction:column;
}
.one .split .split1
{
	display:flex;
	flex-direction:column;
}
.one .split .split1 .dark
{
	height:60px;
	width:280px;
	background-color:black;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split1 .text
{
	height:70px;
	width:320px;
	background-color:gray;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split1 .button
{
	height:30px;
	width:80px;
	background-color:blue;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2
{
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
}
.one .split .split2 .split21
{
	display:flex;
	flex-direction:column;	
	height:200px;
	width:600px;
}
.one .split .split2 .split21 .box
{
	height:40px;
	width:50px;
	background-color:blue;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split21 .dark
{
	height:30px;
	width:150px;
	background-color:black;
	margin:5px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split21 .text
{
	height:40px;
	width:200px;
	background-color:gray;
	margin:5px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split22
{
	display:flex;
	flex-direction:column;
	height:200px;
	width:600px;
}
.one .split .split2 .split22 .box
{
	height:50px;
	width:50px;
	background-color:blue;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split22 .dark
{
	height:30px;
	width:150px;
	background-color:black;
	margin:5px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split22 .text
{
	height:40px;
	width:200px;
	background-color:gray;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split23
{
	display:flex;
	flex-direction:column;
	height:200px;
	width:600px;
}
.one .split .split2 .split23 .box
{
	height:40px;
	width:50px;
	background-color:blue;
	margin:5px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split23 .dark
{
	height:30px;
	width:150px;
	background-color:black;
	margin:5px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split23 .text
{
	height:40px;
	width:200px;
	background-color:gray;
	margin:5px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split24
{
	display:flex;
	flex-direction:column;
	height:200px;
	width:600px;
}
.one .split .split2 .split24 .box
{
	height:40px;
	width:50px;
	background-color:blue;
	margin:5px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split24 .dark
{
	height:30px;
	width:150px;
	background-color:black;
	margin:5px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split24 .text
{
	height:40px;
	width:200px;
	background-color:gray;
	margin:5px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split25
{
	display:flex;
	flex-direction:column;
	height:200px;
	width:600px;
}
.one .split .split2 .split25 .box
{
	height:40px;
	width:50px;
	background-color:blue;
	margin:5px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split25 .dark
{
	height:30px;
	width:150px;
	background-color:black;
	margin:5px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split25 .text
{
	height:40px;
	width:200px;
	background-color:gray;
	margin:5px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split26
{
	display:flex;
	flex-direction:column;
	height:200px;
	width:600px;
}
.one .split .split2 .split26 .box
{
	height:40px;
	width:50px;
	background-color:blue;
	margin:5px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split26 .dark
{
	height:30px;
	width:150px;
	background-color:black;
	margin:5px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split26 .text
{
	height:40px;
	width:200px;
	background-color:gray;
	margin:5px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .footer
{
	display:flex;
	justify-content:center;
	background-color:gray;
}
.one .footer .text
{
	height:30px;
	width:100px;
	background-color:brown;
	margin:10px;
}